*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    
}
/*Navbar */
.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:rgba(0, 0, 0, 0.9);
    position: sticky;
    top: 0;
}
.navbar ul{
    display: flex;
    list-style: none;
    margin: 10px 0px;
}
.navbar ul li{
    font-family:'Times New Roman', Times, serif;
    font-size: 1.1rem;
    font-weight: bold;

}
.navbar ul li a{
    text-decoration: none;
    color: white;
    padding: 8px 25px;
    transition: all .5s ease;
}
.navbar ul li a:hover{  
    background-color: white;
    color: black;
    box-shadow:  0 0 8px white;
}
/* Começo Section */
#Começo{
    display: flex;
    flex-direction: column;
    background-color:rgba(0, 0, 0, 0.5);
    height: 1000px;
    justify-content: center;
    align-items: center;
    color: white;
    font-family:serif;
}
#Começo::before{
    content: "";
    position: absolute;
    /* top: 0px;
    right: 0px; */
    background: url("slide4.jpg");
    height: 1000px;
    width: 100%;
    z-index: -1;
    opacity: .8;
    background-repeat: no-repeat;
    background-size: 100%;
}
.main{  
    display: flex;
    flex-direction: column;

    /*border: 1px solid white;*/
    align-items: center;
    position: absolute;
    top: 30%;
    right: 10%;
}
.headings{  
    font-family:serif;
    font-size: 3rem;
    text-align: center;
    margin: 40px 0px;
    
}

/* .headings:hover{
    background-color:darkgrey; 
} */
.btn{  
padding: 10px 35px;
background-color: transparent;
border: 1px solid white;
color: white;
outline: none;
transition: .6s ease;
}
.btn:hover{ 
    cursor:pointer;
    background-color: white;
    color: black;
    box-shadow: 0 0 5px white, 0 0 10px white,0 0 15px white;
    font-weight: bold;
}
/*About Section*/
#about{  
    box-sizing: border-box;
    padding: 20px;
    margin-bottom: 50px;
}

#pic{
    float: left;
    width: 50%;
    height: 90%;
}
    
#pic img{ 
    width: 50%;
    height: 50%;
    opacity: 0.6;
}

#intro{ 
    display: inline-block;    
    padding: 10px;
    padding-top: 0px;
    width: 50%;
}
#intro h2{  
    text-align: center;
    font-size: 2rem;
    margin-bottom: 10px;
    color: rgb(245, 245, 245);
}
#intro h4{  
    text-align:left;
    color:floralwhite;
}
#intro p{
    text-align: justify;
    font-family:serif;
    font-size:medium;
    text-decoration: aqua;
    padding-right: 20px;
}
/*Portrafolio Section*/
.portafolio{    
    display:flex;
    flex-direction: column;
    background-color:black;
    color: white;
    align-items: center;
    padding: 20px;
}
.gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    padding: 20px;
}
.gallery img{   
    width: 360px;
    height: 240px;
    margin: 10px;
}
/*Serviço Section */
#Serviço{   
    display: flex;
    flex-direction: column;
    padding: 10px;
}
.row{   
    display: flex;
}
.box{   
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 450px;
    border: 1px solid black;
    margin: 10px;
    align-items: center;
    text-align: justify;
    padding: 10px;
    border-radius: 15px;
    background: -moz-linear-gradient(red, white 50%);
    background-size: 100% 200%;
    transition: all .8s;
}
.box:hover{ 
    background-position: left bottom;
    color: rgb(34, 145, 236);
    border: none;
    box-shadow: 0 0 20px rgb(10, 3, 3);
}
.box img{   
    width: 100px;
    height: 100px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    align-items: center;
    margin: 20px 1px;
    background-color:rgba(0, 0, 0, 0.9);
    color:white;
}
/*Contato Section */
#Contato{   
    font-family: cursive;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 8px;
    font-size: medium;
    background-color:rgba(0, 0, 0, 0.9);
    color:white;
    padding: 20px;
}

.form{  
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    align-items: center;
    margin: 0px 0px;
    background-color:rgba(0, 0, 0, 0.9);
    color:white;
    
}

.input{ 
    padding: 12px;
    margin: 10px;
    width: 30%;
    border: none;
    outline: none;
}
#msg{   
    padding: 1;
    width: 30%;
    margin: 10px;
    border: none;
    outline: none;
}
#send{    
    padding: 10px;
    margin: 10px; 
    border: none;
    outline: none;
}
#send:hover{
    cursor: pointer;
    box-shadow: 0 0 10px white;
    padding: 8px 25px;
    transition: all .5s ease;
}
.pie{    
    padding: 10px;
    background-color:lightgrey;
    color:black;
    text-align: center;
    

}
